# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://rlbapcaizjobytphglqa.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJsYmFwY2FpempvYnl0cGhnbHFhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODczODAwNDksImV4cCI6MjEwMjk1NjA0OX0.rO4zjn9hxBDr408lWJNNd-gePxbaDGVyvsbFUVA7RKI

# Service Role Key (for Admin Server Actions & Identity Lookups)
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJsYmFwY2FpempvYnl0cGhnbHFhIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NzM4MDA0OSwiZXhwIjoyMTAyOTU2MDQ5fQ.CShP9lxj82WRbz_a4HDp7NZwpxMC0SwTNfrMBGMYKv4
